:root {
    --primary-background: #FFFFFF;
    --secondary-background: #F4F2E9;
    --primary-button: rgb(244, 242, 233);
    --primary-button-border:rgb(56, 33, 16);
    --primary-text: rgb(56, 33, 16);
    --secondary-text: #00635D;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html { /* for footer support! */
    position: relative;
    min-height: 100%;
}

body {
    background-color: var(--primary-background);
    color: var(--primary-text);
    font-family: 'Raleway', sans-serif;
    margin-bottom: 100px;
}

button {
    width: 100%;
    padding: 1px;
    border-radius: 10%;
    border: 1px solid var(--primary-button-border);
    background-color: var(--primary-button);
    color: var(--secondary-text);
    font-family: inherit;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

button:hover {
    transform: scale(1.02);
}

.header {
    top: 0;
    left: 0;
    background-color: var(--secondary-background);
    padding: 40px 0;
    margin-bottom: 100px;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 35px;
}

.reads {
    font-family: 'Urbanist', sans-serif;
}

.about {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    margin-bottom: 60px;
}

h3 {
    font-size: 30px;
    margin-bottom: 30px;
}

p {
    font-size: 18px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2px;
    padding-bottom: 10px;
    
}

.chart {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    height: 40px;
    width: 30%;
    border: 1px solid var(--primary-text);
    background-color: var(--secondary-background);
    font-weight: bold;
}

.empty {
    display: flex;
    grid-column: 2;
    justify-self: center;
    align-self: center;
}

.readBtn {
    width: 60px;
    border: none;
    grid-column: 1;
    justify-self: self-start;
}

.info {
    font-weight: bold;
    grid-column:  2;
    align-self: center;
}

.del {
    width: 60px;
    border: none;
    grid-column: 3;
    justify-self: self-end;  
}

.add {
    width: 100px;
    margin: 0 auto;
    margin-top: 15px;
}

.warning {
    text-align: center;
    color: red;
}

.total {
    margin: 0 auto;
    margin-top: 25px;
    font-size: 20px;
    font-weight: bold;
}

.formContainer {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

input[type=text] {
    width: 120px;
    box-sizing: border-box;
    padding: 10px;
    background-color: var(--secondary-background);
    color: var(--primary-text);
    text-align: center;
    border: none;
    margin-right: 20px;
}

.submitBtn {
    width: 100px;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    background-color: var(--secondary-background);
    font-size: 18px;
    font-weight: bold;
    padding: 15px;
}

.fa-github {
    color: var(--primary-text);
    font-size: 40px;
    transition: transform 0.1s ease-in-out;
}

.fa-github:hover {
    transform: scale(1.2);
}